<%= turbo_stream_from "booking_#{@booking.id}_messages" %>

<div class="container chat" data-controller="chat-scroll" data-chat-scroll-current-user-id-value="<%= current_user.id %>">
  <h1 class="title-chat-new">
    <i class="fas fa-comment"></i>
    Chatea con tu posible match: <%= @booking.place.title %>
  </h1>

  <div id="messages" class="messages" data-chat-scroll-target="messages">
    <% @booking.messages.each do |message| %>
      <%= render "messages/message", message: message, user: current_user %>
    <% end %>
  </div>

  <%= simple_form_for [@booking, @message],
    html: {
      class: "d-flex",
      data: {
        controller: "reset-form",
        action: "turbo:submit-end->reset-form#reset"
      }
    } do |f| %>

    <% other_user = current_user == @booking.place.user ? @booking.user : @booking.place.user %>

    <%= f.input :content,
      label: false,
      placeholder: "Chatea con #{other_user.first_name}",
      wrapper_html: { class: "flex-grow-1" },
      input_html: {
        data: { action: "keydown->chat-scroll#sendWithEnter" }
      }
    %>

    <%= f.submit "Enviar", class: "button-chat-new" %>
  <% end %>
</div>
