<div class="profile-container">
  <div class="profile-card">
    <div class="profile-header">
      <h2>Editar Perfil</h2>
      <small>Actualiza tu información</small>
    </div>

    <%= form_with model: @user, url: user_profile_path, method: :patch, local: true, html: { class: "profile-form" } do |f| %>



      <div class="form-group text-center">
        <%= f.label :avatar, "Foto de perfil",  style: "color: #0d4029;" %>
        <br>
                <% if @user.photo.attached? %>
                  <%= image_tag url_for(@user.photo), alt: 'Foto de perfil', class: 'rounded-circle shadow', style: "object-fit: cover; width: 150px; height: 150px;" %>
                <% else %>
                  <%= image_tag 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png', alt: 'Foto de perfil por defecto', class: 'rounded-circle shadow', style: "object-fit: cover; width: 150px; height: 150px;" %>
                <% end %>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :first_name, "Nombre", style: "color: #0d4029;" %>
            <%= f.text_field :first_name, class: "form-control", placeholder: "Nombre" %>
          </div>
          <div class="form-group">
            <%= f.label :last_name, "Apellido", style: "color: #0d4029;" %>
            <%= f.text_field :last_name, class: "form-control", placeholder: "Apellido" %>
          </div>
          <div class="form-group">
            <%= f.label :occupation, "Ocupación", style: "color: #0d4029;" %>
            <%= f.text_field :occupation, class: "form-control", placeholder: "Ocupación" %>
          </div>
          <div class="form-group">
            <%= f.label :birth_date, "Fecha de nacimiento", style: "color: #0d4029;" %>
            <%= f.date_field :birth_date, class: "form-control" %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :gender, "Género", style: "color: #0d4029;" %>
            <%= f.text_field :gender, class: "form-control", placeholder: "Género" %>
          </div>
          <div class="form-group">
            <%= f.label :bio, "Acerca de mí", style: "color: #0d4029;" %>
            <%= f.text_area :bio, rows: 10, class: "form-control", placeholder: "Cuéntanos algo sobre ti..." %>
          </div>
        </div>
      </div>

      <div class="text-center profile-actions mt-4">
        <%= f.submit "Guardar cambios", class: "btn btn-save" %>
      </div>
       <div class="text-center mt-4">
      <%= link_to "Cambiar usuario y contraseña", edit_user_registration_path, class: "btn btn-link" %>
    </div>
    <% end %>
  </div>
</div>
