<div class="container mt-5">
      <h1 class="titulo_compatibility">Selecciona tus gustos para encontrar tu Roomatch ideal <i class="fa-solid fa-rocket"></i> </h1>
</div>


<%= form_with url: detail_compatibilities_path, method: :post do %>
  <div class="organization">
    <div class="half">
      <div class="">
        <% @compatibilities.each do |c| %>
          <div class="form-check form-check-inline">
            <%= check_box_tag "compatibilities[]", c.id, false, id: "option-#{c.title}", class: "compatibility-question" %>
            <%= label_tag "option-#{c.title}", class: "m-2" do %>
              <i class="<%= c.icon %>"></i> <%= c.title_spanish %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>


  </div>
   <div class="boton-save">
      <%= submit_tag "Guardar mis gustos", class: "btn-detail-compatibility" %>
    </div>
<% end %>
